/*Fonts Variables */
$ff-base: 'Roboto', sans-serif;
$ff-alt: 'Shrikhand', cursive;
$ff-clr: #242424;
$fs-base: 16px;

/*Colors Variables */
$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-alt: #d6d6d6;

/*images Variables */
$img-palette: '../img/jay-wennington.jpg';
$img-note: '../img/stil.jpg';
$img-francaise: '../img/toa-heftiba.jpg';
$img-delice: '../img/louis-hansel-shotsoflouis.jpg';


/*Shadows Variables */
$shadow: 0 5px 20px -10px black;
$shadow-hover: 0 15px 30px -10px black;